html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

span {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #054ada;
    width: 100%;
}

.socials {
    color: #f80;
    font-size: 1rem;
    margin: 0.5rem;
    font-family: 'Press Start 2P', cursive;
}

.navigation ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    color: rgba(255,255,255,.6);
    padding: 1rem;
    display: block;
}

.navigation li a:hover {
    color: #f80;
    transition: 0.3s ease-in-out;
}

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: 1rem;
}

.menu-btn__burger {
    width: 35px;
    height: 5px;
    background-color: #f80;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before, .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #f80;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-10px);
}

.menu-btn__burger::after {
    transform: translateY(10px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-30px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg);
}

.main {
    padding: 2rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.main img {
    height: 300px;
    width: auto;
    border: 2px solid #f80;
    border-radius: 2%;
    margin: 1rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-text h1 {
    font-size: 2.5rem;
    color: black;
}

.main-text p {
    width: 40%;
    font-size: 1.25rem;
}

.tags {
    color: #f80;
}

.contact {
    color: white;
    border-color: transparent;
    background-color: #f80;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 3%;
}

.contact:hover {
    background-color: rgb(208, 114, 8);
}

.code {
    padding: 2rem;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.quote {
    background-color: #f80;
    padding: 1rem;
    width: 30%;
}

h3 { 
    color: white;
    font-weight: 400;
}

.chart-wrap{
  width: 60%;
  height: 600px;
  padding-bottom: 6rem;
}

.title {
    text-align:center; 
    color: white;
    font-size: 2rem;
}

h2 .tags {
    font-size: 1.25rem;
}

.grid{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}

.bar {
    background-color: #f80;
    width: 50px;
    height: calc(var(--bar-value)*2.5);
    align-self:flex-end;
    margin:0 auto;
    border-radius:3px 3px 0 0;
    position:relative;
}

.bar:hover{
    opacity:0.7;
}

.bar::after{
    content:attr(data-name);
    top:-3em;
    padding:10px;
    display:inline-block;
    white-space:nowrap;
    position:absolute;
    transform:rotate(-45deg);
}

.horizontal{
  flex-direction:column;
  border-bottom:none;
  border-left:2px solid #054ada;
}

.bar{
    height: 45px;
    width: calc(var(--bar-value)*2.5);
    align-self:flex-start;
    margin:auto 0 auto 0;
    border-radius:0 3px 3px 0;     
}

.bar::after{
    top:initial;
    left:100%;
    padding:0 10px;
    display:inline-block;
    white-space:nowrap;
    position:absolute;
    transform:rotate(0deg);
    line-height:45px;
    color: #f80;
} 

form {
    background-color: black;
    border: 2px solid #054ada;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

input {
    background-color: #f80;
    color: white;
    border: 1px solid #f80;
    padding: 0.5rem;
    width: 70%;
}

input[type=submit] {
    color: white;
    border-radius: 5%;
    width: 25%;
}

input[type=submit]:hover {
    background-color: rgb(208, 114, 8);
}

textarea {
    background-color: #f80;
    color: white;
    border: 1px solid #f80;
    padding: 0.5rem;
}

label {
    color: white;
}

footer {
    background-color: #054ada;
    color: rgba(255,255,255,.6);
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fsocial img {
    height: 25px;
    width: 25px;
    padding: 0.5rem;
}

@media only screen and (max-width: 1075px) {
    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .main-text h1 {
        font-size: 2.10rem;
    }

    .chart-wrap{
        width: 100%;
        height: 600px;
        font-family:sans-serif;
        padding-bottom: 6rem;
    }

    .code {
        padding: 2rem;
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 980px) {
    .main-text h1 {
        font-size: 2rem;
        text-align: center;
    }

    .main-text p {
        width: 100%;
        font-size: 1.25rem;
        text-align: center;
        margin: 1rem;
    }

    .contact {
        width: 10rem;
        height: 4rem;
        margin: 1rem;
    }

    .quote {
        width: 70%;
        padding: 1rem;
        margin-top: 3rem;
    }

    .quote h3 {
        font-size: 1.25rem;
    }

    .menu-btn {
        display: flex;
        position: absolute;
        right: 3;
        top: 15;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation {
        display: none;
        width: 100%;
    }

    .navigation ul {
        flex-direction: column;
        width: 100%;
    }

    .navigation li {
        text-align: center;
    }

    .navigation.active {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .main-text p {
        font-size: 1rem;
    }

    .main-text h1 {
        font-size: 1.25rem;
    }

    .main-text .tags {
        font-size: 1rem;
    }
}